{% extends 'personal_finance/base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-3">Novo Balancete</h2>
    <form method="post" class="box">
      {% csrf_token %}
      <label class="label">Nome:</label>
      <input class="input" type="text" name="title" required>
  
      <label class="label mt-4">Descrição:</label>
      <textarea class="textarea" name="description"></textarea>
  
      <button class="button is-primary mt-4" type="submit">Criar</button>
    </form>
  </div>
</section>

{% endblock %}