
{% extends 'personal_finance/base.html' %}

{% block title %}Listar boletos{% endblock %}

{% block content %}
<section class="card has-shadow mb-5" style="border-left: 5px solid #3273dc;">
  <div class="card-content is-flex is-align-items-center">
    <span class="icon is-large has-text-link mr-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text">
        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
        <polyline points="14 2 14 8 20 8"/>
        <line x1="16" x2="8" y1="13" y2="13"/>
        <line x1="16" x2="8" y1="17" y2="17"/>
        <polyline points="10 9 9 9 8 9"/>
      </svg>
    </span>
    <div>
      <h1 class="title is-3 has-text-weight-bold mb-5">{{ balancete.title }}</h1>
      <p class="subtitle is-6 has-text-grey-dark">{{ balancete.description }}</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="notification is-info is-light">
      <p><strong>Saldo total:</strong> R$ {{ saldo }}</p>
      <p><strong>Total de faturamento:</strong> R$ {{ faturamento }}</p>
      <p><strong>Total de despesas:</strong> R$ {{ despesa }}</p>
    </div>

    <div class="mb-4">
      <a class="button is-primary is-small" href="{% url 'boleto_criar' balancete.id %}">
        + Novo Boleto
      </a>
    </div>

    {% if boletos %}
      <div class="columns is-multiline">
        {% for item in boletos %}
          <div class="column is-6">
            <div class="card">
              <div class="card-content">
                <p class="title is-5">{{ item.title }}</p>
                <p class="subtitle is-6">
                  {{ item.date }} - R$ {{ item.value }} ({{ item.category }})
                </p>
                {% if item.boleto_img %}
                  <figure class="image is-4by3 mt-2">
                    <img src="{{ item.boleto_img.url }}" alt="Foto do Boleto">
                  </figure>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="notification is-warning is-light">
        Nenhum boleto cadastrado.
      </div>
    {% endif %}

  </div>
</section>
{% endblock content %}
