{% extends 'personal_finance/base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
      <h1 class="title is-2 has-text-centered has-text-weight-semibold">Gerenciador Financeiro</h1>

    {% if user.is_authenticated %}
  <p class="mt-4 ml-4 is-size-6 has-text-weight-medium has-text-centered">
    Olá, {{ user.username }}! verifique seus balancetes abaixo:
    
  </p>
{% else %}
  <div class="mt-4 ml-4">
    <a href="{% url 'login' %}" class="button is-link">Login</a>
  </div>
{% endif %}


    <div class="has-text-centered mt-6 mb-5">
      <a class="button is-medium is-link" href="{% url 'balancete_criar' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M12 5v14M5 12h14"/></svg>
          Novo Balancete
      </a>
    </div>

    {% if balancetes %}
      <div class="columns is-multiline">
        {% for item in balancetes %}
          <div class="column is-4">
            <a href="{% url 'boleto_listar' item.id %}">
              <div class="card has-shadow">
                <div class="card-content">
                  <p class="title is-4 has-text-link">{{ item.title }}</p>
                  <p class="subtitle is-6 has-text-grey">
                    Criado em {{ item.date|date:"d/m/Y" }}
                  </p>
                  <div class="content">
                    {{ item.description|linebreaksbr }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="has-text-centered mt-5">Nenhum balancete cadastrado.</p>
    {% endif %}
  </div>
</section>

{% endblock %}