
{% extends 'personal_finance/base.html' %}

{% block title %}Listar boletos{% endblock %}

{% block content %}
<section class="section">
  <div class="container">

      <div class="mb-5">
      <h1 class="title is-1 has-text-weight-semibold">
        {{ balancete.nome }}
      </h1>
      <p class="has-text-grey-dark is-size-6">
        {{ balancete.descricao }}
      </p>
    </div>


    <div class="notification is-info is-light">
      <p><strong>Saldo total:</strong> R$ {{ saldo }}</p>
      <p><strong>Total de faturamento:</strong> R$ {{ faturamento }}</p>
      <p><strong>Total de despesas:</strong> R$ {{ despesa }}</p>
    </div>

    <div class="mb-4">
      <a class="button is-primary is-small" href="{% url 'boleto_criar' balancete.id %}">
        + Novo Boleto
      </a>
    </div>

    {% if boletos %}
      <div class="columns is-multiline">
        {% for item in boletos %}
          <div class="column is-6">
            <div class="card">
              <div class="card-content">
                <p class="title is-5">{{ item.title }}</p>
                <p class="subtitle is-6">
                  {{ item.date }} - R$ {{ item.value }} ({{ item.category }})
                </p>
                {% if item.boleto_img %}
                  <figure class="image is-4by3 mt-2">
                    <img src="{{ item.boleto_img.url }}" alt="Foto do Boleto">
                  </figure>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="notification is-warning is-light">
        Nenhum boleto cadastrado.
      </div>
    {% endif %}

  </div>
</section>
{% endblock content %}
